@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    scroll-behavior: smooth;
  }
  


  @keyframes smoothSpread {
    0% {
      background-position: -100% 0;
    }
    100% {
      background-position: 100% 0;
    }
  }
  
  .animate-smooth-spread {
    background: linear-gradient(to right, transparent 0%, rgba(255, 255, 255, 0.2) 50%, transparent 100%);
    background-size: 300% 100%;
    animation: smoothSpread 5s alternate infinite;
  }
  

  @keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.typing {
    display: inline;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid black;
    animation: typing 3s steps(20, end) forwards,  0.8s 1;
}

@keyframes fade-up {
  0% {
      opacity: 0;
      transform: translateY(50px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.fade-up {
  animation: fade-up 5s ease-out  1;
}